# Host ID
DOCKER_HOSTNAME=msoy1

# Same password used in msoy-server.properties' "messaging.server.password"
MESSAGING_PASSWORD=whirledpass

# Mail host (This is where the email server is located)
MAIL_HOST=mail.example.com

# Mail domain (This is where emails come from)
MAIL_DOMAIN=example.com